################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Keysharp
/bin
/obj
/dist
/.claude/worktrees
/native/*/build
/.vs/ProjectEvaluation
/Keysharp.Install/Debug
/Keysharp.Install/Release
/privatenotes.txt
*.dll
*.exe
*.msi
*.user
*.zip
*.ini
/Keysharp.Tests/Code/Gui/methpropskeysharp.txt
/Keysharp.Tests/Code/test-text-file-out.txt
/Keysharp.Tests/Code/Gui/guitest.deps.json
/Keysharp.Tests/Code/Gui/guitest.runtimeconfig.json
/.vs
.DS_Store
demos/*.gif
/BenchmarkDotNet.Artifacts
