<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Keyview</string>
	<key>CFBundleDisplayName</key>
	<string>Keyview</string>
	<key>CFBundleIdentifier</key>
	<string>org.keysharp.keyview</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0.17</string>
	<key>CFBundleVersion</key>
	<string>0.0.0.17</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Keysharp Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ahk</string>
				<string>ks</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.keysharp.script</string>
			</array>
		</dict>
	</array>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Keysharp scripts run from Keyview can use WinHide/WinShow/WinActivate and similar commands to control other applications, which requires sending them Apple Events.</string>
</dict>
</plist>
