<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.keysharp.keysharp</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0.17</string>
	<key>CFBundleVersion</key>
	<string>0.0.0.17</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>LSUIElement</key>
    <true/>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Keysharp scripts can use WinHide/WinShow/WinActivate and similar commands to control other applications, which requires sending them Apple Events.</string>
</dict>
</plist>
